<mat-nav-list>
  <a mat-list-item (click)="openLink($event)" id="financeiro">
    <span matListItemTitle>
      <mat-icon>money</mat-icon>
      <label>Financeiro</label>
    </span>
  </a>

  <a mat-list-item (click)="openLink($event)" id="cliente">
    <span matListItemTitle>
      <mat-icon>person</mat-icon>
      <label>Clientes</label>
    </span>
  </a>

  <a mat-list-item (click)="openLink($event)" id="funcionarios">
    <span matListItemTitle>
      <mat-icon>supervisor_account</mat-icon>
      <label>Funcionarios</label>
    </span>
  </a>
</mat-nav-list>
