<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Restaurante</span>
  <span class="example-spacer"></span>
  <section>
    <div class="example-button-row">
      <a mat-raised-button routerLink="/restaurante/lista">Lista</a>
      <a mat-raised-button routerLink="/restaurante/formulario">Cadastro</a>
      <a mat-raised-button routerLink="/restaurante/financeiro">Financeiro</a>
    </div>
  </section>
</mat-toolbar>
