<mat-nav-list>
  <a mat-list-item (click)="openLink($event)" id="edit">
    <span matListItemTitle>
      <mat-icon>edit</mat-icon>
      <label>Editar</label>
    </span>
  </a>

  <a mat-list-item (click)="openLink($event)" id="remove">
    <span matListItemTitle>
      <mat-icon>lock</mat-icon>
      <label>Bloquear</label>
    </span>
  </a>

  <a mat-list-item (click)="openLink($event)" id="desbloqueia">
    <span matListItemTitle>
      <mat-icon>lock_open</mat-icon>
      <label>Desbloquear</label>
    </span>
  </a>
</mat-nav-list>
